.container {
  height: 90px;
  width: 728px;
  background-color: #69b0bc;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: white;
  border-style: solid;
  border-color: #69b0bc;
}

.general-dentistry {
  transition: transform 5200ms linear;
  position: relative;
  top: 0;
}

.dentistry-ad .general-dentistry {
  transition-delay: 500ms;
  transform: translateY(-500px);
}

.pediatric-dentistry {
  transition: transform 5200ms linear;
  position: relative;
  top: 0;
}

.dentistry-ad .pediatric-dentistry {
  transition-delay: 500ms;
  transform: translateY(-500px);
}

.dentistry-ad .cleaning-whitening {
  transition-delay: 500ms;
  transform: translateY(-500px);
}
.cleaning-whitening {
  transition: transform 5200ms linear;
  position: relative;
  top: 0;
}

.dentistry-ad .periodontics {
  transition-delay: 500ms;
  transform: translateY(-500px);
}
.periodontics {
  transition: transform 5200ms linear;
  position: relative;
  top: 0;
}

.dentistry-ad .row .last {
  transition-delay: 500ms;
  transform: translateY(-376px);
}
.row .last {
  transition: transform 5200ms linear;
  position: relative;
  top: 0;
}

.last::after {
  clear: both;
  display: inline-block;
  white-space: nowrap;
}

.last .column {
  margin: auto;
  float: left;
  padding: 0;
}

.hero-img {
  transition: transform 2300ms ease-in;
  position: absolute;
  left: -800px;
}

.dentistry-ad .hero-img {
  transition-delay: 4400ms;
  transform: translateX(800px);
}
.view-services-btn {
  transition: transform 2200ms ease-in;
  position: absolute;
  margin-top: 30px;
  right: -240px;
}

.dentistry-ad .view-services-btn {
  transition-delay: 4800ms;
  transform: translateX(-300px);
}
